#map-container {
    display: flex;
    justify-content: center;
    align-items: center;

    /* border-style: solid;
    border-width: 2px;
    border-color: red; */
}

#map { 
    height: 300px; 
    width: 400px;
}

