#stats-list-container {
    /* border-style: solid;
    border-width: 2px;
    border-color: red; */

    margin-top: 1.75rem;
    margin-left: 1rem;
    width: 17rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    text-align: left;
    line-height: 1;

    background-color: rgb(39, 34, 52);
    box-shadow: 0rem 0.15rem 1.5rem black;
}